table,td,th{
    border: 1px solid green;
    border-collapse: collapse;
   
}
body{
    background-image: url(./images.jpg);
    background-repeat: no-repeat;
}
.ab{
    padding-left: 600px;
}
.ht{
    padding-left: 500px;
    text-decoration: double;
    text-size-adjust: 100%;
}
th{
    color: red;
    text-decoration: double;
    width: fit-content;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
}

div{
    align-items: center;
    justify-content: center;
    display: flex;
}
td{
    color:aliceblue;
    text-decoration: double;
    width: fit-content;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

